mainui{
    a,body {
                color: #000
            }

            .promotion-app,header.jsmodule {
                position: relative;
                overflow: hidden
            }

            .search-index,body {
                min-width: 320px;
                max-width: 540px
            }

            .nav-entry .col>a,.nav-entry .wallet,.tag-ribbon,.tool-box,.tool-cn,.tool-ver a {
                text-align: center
            }

            .app-btn-box,.app-text,.tag-ribbon {
                vertical-align: middle
            }

            .app-btn-box,.app-text,.cm-modal,.col,.nav-entry .col>a,.row,.sales-list li,.search-index {
                box-sizing: border-box
            }

            body,figure,h1,h2,h3,html,li,nav,p,ul {
                padding: 0;
                margin: 0
            }

            body {
                font: 400 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
                overflow-x: hidden;
                -webkit-tap-highlight-color: transparent;
                -webkit-text-size-adjust: none;
                -moz-user-select: none;
                margin: 0 auto;
                background: #f2f2f2
            }

            .nav-entry .wallet,.noimg i,.subNav-entry .col a em {
                font-style: normal
            }

            img {
                border: none
            }

            a {
                text-decoration: none
            }

            h2 a:link,h2 a:visited,h3 a:link,h3 a:visited {
                color: #fff
            }

            li {
                list-style-type: none
            }

            .promotion-app {
                max-height: 56px;
                background: #fff
            }

            header.jsmodule {
                width: 100%;
                min-height: 64px;
                padding-top: 45px;
                background: #f2f2f2;
                -webkit-transform: translateZ(0);
                transform: translateZ(0)
            }

            .icon-new,.notice-myctrip:before,.search-index div span:after,.search-index div:before,.search-index:before,.tool-cn a:before {
                background: url(//pic.c-ctrip.com/platform/h5/home/un_ico_home_v620.png) no-repeat;
                background-size: 104px 326px
            }

            .icon-cooperation,.icon-hhtravel,.icon-hotelscenic,.icon-money,.icon-more,.icon-onedaytravel,.icon-parking,.icon-sceniccar,.icon-taocan,.icon-themepark,.icon-themetravel,.icon-youxue {
                background: url(//pic.c-ctrip.com/platform/h5/home/un_ico_subnav@2x.png) no-repeat;
                background-size: 20px auto
            }

            .icon-taocan {
                background-position: 0 -80px
            }

            .icon-themetravel {
                background-position: 0 -100px
            }

            .icon-onedaytravel {
                background-position: 0 -120px
            }

            .icon-hhtravel {
                background-position: 0 -140px
            }

            .icon-hotelscenic {
                background-position: 0 -160px
            }

            .icon-youxue {
                background-position: 0 -180px
            }

            .icon-money {
                background-position: 0 -200px
            }

            .icon-cooperation {
                background-position: 0 -220px
            }

            .icon-themepark {
                background-position: 0 0
            }

            .icon-parking {
                background-position: 0 -20px
            }

            .icon-sceniccar {
                background-position: 0 -40px
            }

            .icon-more {
                background-position: 0 -60px
            }

            .search-index {
                position: fixed;
                top: 0;
                left: 50%;
                z-index: 12;
                width: 100%;
                height: 3.21em;
                padding: 7px 3.57em 7px 8px;
                background-color: #F6F6F6;
                border-bottom: 1px solid #CCC;
                border-top: 1px solid #CCC;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%)
            }

            .search-index div {
                height: 2em;
                overflow: hidden;
                padding: 0 5px;
                line-height: 2em;
                border-radius: 5px;
                background-color: #fff;
                color: #666;
                font-size: .86em;
                border: 1px solid #999;
                box-shadow: 0 2px 4px rgba(0,0,0,.2)
            }

            .search-index div:active {
                background-color: #F9F9F9
            }

            .search-index div span {
                position: relative;
                padding-left: 20px
            }

            .search-index div span:after {
                position: absolute;
                top: -2px;
                left: 2px;
                width: 15px;
                height: 18px;
                overflow: hidden;
                background-position: -59px -276px;
                content: ""
            }

            .search-index .notice-myctrip {
                width: 44px;
                height: 44px;
                position: absolute;
                top: 0;
                right: 4px
            }

            .search-index .notice-myctrip:before {
                content: "\0020";
                position: absolute;
                top: 4px;
                left: 50%;
                margin-left: -10px;
                width: 24px;
                height: 26px;
                background-position: -59px -193px
            }

            .search-index .notice-myctrip i {
                position: absolute;
                left: 50%;
                top: 10px;
                margin-left: 8px;
                width: 8px;
                height: 8px;
                background-color: #F45030;
                border-radius: 50%
            }

            .col,.row {
                width: 100%
            }

            .search-index .notice-myctrip span {
                position: absolute;
                bottom: 1px;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: .86em;
                color: #2EAAE0;
                white-space: nowrap
            }

            .row {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex
            }

            .col {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                display: block
            }

            .col-25 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%
            }

            .col-33,.col-34 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 33.3333%;
                flex: 0 0 33.3333%;
                max-width: 33.3333%
            }

            .col-50 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%
            }

            .nav-entry {
                padding: 4px;
                font-size: 15px;
                margin-bottom: 4px
            }

            .nav-entry .row {
                margin-bottom: 4px;
                height: 6em
            }

            .nav-entry .row:last-of-type {
                margin-bottom: 0
            }

            .nav-entry .col {
                border-left: 1px solid #fff;
                height: 100%;
                position: relative
            }

            .nav-entry .col a {
                height: 50%
            }

            .nav-entry .col:nth-child(1) {
                border-left: none
            }

            .nav-entry .row:nth-child(1) .col a {
                background-color: #ff697a
            }

            .nav-entry .row:nth-child(2) .col a {
                background-color: #3d98ff
            }

            .nav-entry .row:nth-child(3) .col a {
                background-color: #44c522
            }

            .nav-entry .row:nth-child(4) .col a {
                background-color: #fc9720
            }

            .nav-entry .row:nth-child(1) .col:first-of-type a,.nav-entry .row:nth-child(2) .col:first-of-type a,.nav-entry .row:nth-child(3) .col:first-of-type a {
                height: 100%
            }

            .nav-entry .col a+a {
                border-top: 1px solid #fff
            }

            .nav-entry .col:first-of-type a {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px
            }

            .nav-entry .col:last-of-type a:nth-child(1) {
                border-top-right-radius: 5px
            }

            .nav-entry .col:last-of-type a:nth-child(2) {
                border-bottom-right-radius: 5px
            }

            .nav-entry .row:nth-child(4) .col:first-of-type a:nth-child(1) {
                border-bottom-left-radius: 0
            }

            .nav-entry .row:nth-child(4) .col:first-of-type a:nth-child(2) {
                border-top-left-radius: 0
            }

            .tag-ribbon {
                position: absolute;
                z-index: 10;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 4px 15px 6px;
                line-height: 0;
                overflow: hidden
            }

            .tag-ribbon:before {
                content: '';
                position: absolute;
                z-index: 99;
                background: #ffdd53;
                left: 12px;
                right: 12px;
                bottom: 2px;
                top: 0
            }

            .tag-ribbon .ribbon-left,.tag-ribbon .ribbon-right {
                position: absolute;
                z-index: 9;
                width: 16px;
                height: 100%;
                bottom: 0;
                top: 2px;
                background-color: #fabb24
            }

            .tag-ribbon .ribbon-left {
                left: 0;
                border-bottom-left-radius: 5px
            }

            .tag-ribbon .ribbon-right {
                right: 0
            }

            .tag-ribbon .ribbon-left:before,.tag-ribbon .ribbon-right:before {
                content: '';
                position: absolute;
                z-index: 99;
                bottom: 1px;
                right: -6px;
                width: 0;
                height: 0;
                border: 3px solid #ca7e1c;
                border-color: transparent transparent transparent #ca7e1c
            }

            .nav-entry .col>a,.tag-ribbon img {
                position: relative;
                overflow: hidden
            }

            .tag-ribbon .ribbon-right:before {
                right: auto;
                left: 0
            }

            .tag-ribbon img {
                z-index: 9999;
                max-width: 60%;
                height: auto
            }

            .nav-entry .col>a {
                display: block;
                font-size: 1em;
                color: #fff;
                text-shadow: 0 2px 1px rgba(0,0,0,.2);
                line-height: 3em
            }

            .nav-entry .col>a em {
                font-style: normal;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                white-space: nowrap;
                width: 100%;
                height: 45px;
                -webkit-transition: all 1s;
                transition: all 1s
            }

            .nav-entry .col>a .img-hidden {
                position: absolute;
                left: 0;
                right: -1px;
                top: 46px;
                opacity: 0;
                width: 100%;
                height: 45px;
                -webkit-transition: all 1s;
                transition: all 1s
            }

            .nav-entry .col:first-of-type>a.flip .img-hidden,.nav-entry .col>a.flip .img-hidden {
                opacity: 1;
                top: 0
            }

            .nav-entry .col:first-of-type>a .img-hidden {
                height: 90px;
                top: 90px
            }

            .nav-entry .col>a .img-hidden img {
                height: 100%;
                position: absolute;
                right: 0;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%)
            }

            @media screen and (min-width: 470px) {
                .tag-ribbon img {
                    max-width:50%
                }

                .nav-entry .col>a .img-hidden img {
                    height: auto;
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: 50%;
                    -webkit-transform: translate(0,-50%);
                    transform: translate(0,-50%)
                }
            }

            .nav-entry .col:first-of-type>a:first-of-type .img-hidden {
                background: #fff
            }

            .nav-entry .col:first-of-type>a:first-of-type .img-hidden img {
                border-top-left-radius: 5px;
                width: 100%;
                right: -1px
            }

            @media screen and (max-width: 320px) {
                .nav-entry .col:first-of-type>a:first-of-type .img-hidden img {
                    height:auto
                }
            }

            @media screen and (min-width: 470px) {
                .nav-entry .col:first-of-type>a:first-of-type .img-hidden img {
                    height:100%;
                    width: auto;
                    left: 50%;
                    top: 0;
                    -webkit-transform: translate(-50%,0);
                    transform: translate(-50%,0)
                }
            }

            .nav-entry .col:first-of-type>a:last-of-type .img-hidden img {
                border-bottom-left-radius: 5px
            }

            .nav-entry .col:last-of-type>a:first-of-type .img-hidden img {
                border-top-right-radius: 5px
            }

            .nav-entry .col:last-of-type>a:last-of-type .img-hidden img {
                border-bottom-right-radius: 5px
            }

            .nav-entry .row .col a:only-of-type em {
                top: 0;
                left: 0;
                line-height: 3em;
                height: auto;
                -webkit-transform: inherit;
                transform: inherit;
                -webkit-transition: none;
                transition: none
            }

            .nav-entry .col>a.flip em {
                top: -45px
            }

            .nav-entry .col:first-of-type>a.flip em {
                top: 0
            }

            .nav-entry .col>a .tag-right {
                position: absolute;
                z-index: 10;
                right: 0;
                bottom: 0;
                line-height: 0;
                height: 45px
            }

            .nav-entry .col>a .tag-right img {
                position: absolute;
                bottom: 0;
                right: -2px;
                height: 100%;
                overflow: hidden
            }

            @media screen and (max-width: 320px) {
                .nav-entry .col>a .tag-right img {
                    height:80%
                }
            }

            @media screen and (min-width: 321px) and (max-width:375px) {
                .nav-entry .col>a .tag-right img {
                    height:90%
                }
            }

            .nav-entry .ico_shadow,.nav-entry .icon-flight,.nav-entry .icon-hotel,.nav-entry .icon-vacations,.nav-entry .wallet {
                position: absolute;
                bottom: 10px;
                left: 50%;
                background: url(//pic.c-ctrip.com/platform/h5/home/un_ico_home_v620.png) no-repeat;
                background-size: 104px auto
            }

            .nav-entry li .ico_shadow {
                bottom: -12px;
                left: 0;
                width: 104px;
                height: 82px;
                background-position: 0 -30px
            }

            .nav-entry .icon-flight,.nav-entry .icon-hotel,.nav-entry .icon-vacations {
                width: 43px;
                height: 43px
            }

            .nav-entry .icon-hotel {
                margin-left: -20px;
                background-position: 0 -124px
            }

            .nav-entry .icon-flight {
                bottom: 15px;
                margin-left: -23px;
                background-position: 0 -284px
            }

            .nav-entry .icon-vacations {
                margin-left: -18px;
                background-position: 0 -180px
            }

            .nav-entry .wallet {
                bottom: 0;
                left: 0;
                width: 104px;
                height: 16px;
                line-height: 1.2;
                font-size: 9px;
                color: #FF5F08;
                z-index: 3;
                background: url(//pic.c-ctrip.com/h5/home/tag_summer.png) no-repeat;
                background-size: 104px 17px
            }

            .click-scale {
                -webkit-transform: scale(.95);
                transform: scale(.95);
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in
            }

            .tool-box {
                padding-bottom: 5px;
                border-top: 1px solid #dbdbdb
            }

            .tool-box.foot55 {
                padding-bottom: 55px
            }

            .tool-cn {
                margin-bottom: 5px;
                height: 3.57em;
                background-color: #fff;
                border-bottom: 1px solid #c2c2c2;
                overflow: hidden
            }

            .tool-cn a {
                position: relative;
                float: left;
                padding-top: 26px;
                color: #333;
                font-size: 12px
            }

            .tool-cn a.link-tel {
                width: 38%
            }

            .tool-cn a.link-down {
                width: 31.999%
            }

            .tool-cn a.link-fb,.tool-cn a.link-mc {
                width: 30%
            }

            .tool-cn a.link-my {
                width: 30%;
                text-indent: 4px
            }

            .tool-cn a:before {
                content: "\0020";
                position: absolute;
                top: 7px;
                left: 50%;
                margin-left: -8px;
                width: 16px;
                height: 17px
            }

            .app-btn-box .icon-btn:before,.app-pop-close:after,.app-pop-close:before,.app-text:before,.system_notice p:after,.system_notice:before {
                content: ""
            }

            .tool-cn .link-tel:before {
                background-position: -60px -153px
            }

            .tool-cn .link-down:before {
                background-position: -60px -173px
            }

            .tool-cn .link-mc:before {
                background-position: -60px -195px
            }

            .tool-cn .link-fb:before {
                background-position: -60px -259px
            }

            .tool-cn .link-my:before {
                width: 18px;
                height: 19px;
                background-position: -60px -308px
            }

            .tool-cn .link-mc i {
                position: absolute;
                left: 50%;
                top: 6px;
                margin-left: 8px;
                width: 8px;
                height: 8px;
                background-color: #f45030;
                border-radius: 50%
            }

            .tool-ver {
                color: #999
            }

            .tool-ver a {
                padding: 0;
                color: #666;
                font-size: 12px
            }

            .tool-box p {
                margin: 0;
                padding: 5px 0;
                color: #999;
                font-size: 12px
            }

            .pb85 {
                padding-bottom: 85px!important
            }

            .app-pop-btn02 i,.app-text:before,.icon-btn:before {
                background-image: url(//pic.c-ctrip.com/h5/home/un_bt_app.png);
                background-repeat: no-repeat;
                background-size: 35px 50px
            }

            .app-fix-bottom {
                display: table;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50px;
                background: rgba(0,0,0,.7);
                z-index: 999
            }

            .app-btn-box,.app-close,.app-text {
                display: table-cell
            }

            .app-close {
                width: 44px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAJFBMVEX////7+/v9/f38/Pz///////8AAAD7+/v9/f38/Pz5+fn///8Qx3UMAAAAB3RSTlMGrqerA1QAkV5UdwAAAINJREFUeNpt0DsOxDAMA1H6JzvR/e+7cCEQgyzbV3EUs6/4s9VnaLZ8rbY329TILKVlDq3HSnuWAgoLBRR20Uq7aKUVWm2FVpvRWma07l1mtJYVWs+1YwPuixuI72wl2DlQsZlrGP0dKhpVNKpoVNGosn1Vtq+qw6BdajZqk0KjjDoUP38iFa1PkZEuAAAAAElFTkSuQmCC) center center no-repeat;
                background-size: 14px 14px
            }

            .app-text {
                position: relative;
                min-width: 130px;
                text-indent: 37px
            }

            .app-text:before {
                position: absolute;
                top: 9px;
                left: 0;
                width: 32px;
                height: 32px;
                background-position: 0 0
            }

            .app-text p {
                margin: 0;
                color: #fff;
                line-height: 1;
                font-family: Hei
            }

            .app-text .app-text-title {
                font-size: 13px
            }

            .app-text .app-text-cn {
                margin-top: 6px;
                font-size: 12px;
                color: rgba(255,255,255,.6)
            }

            .app-btn-box {
                min-width: 134px;
                padding-right: 15px;
                text-align: right
            }

            .app-btn-box a,.app-pop-btn02 i,.app-text2 p,.app-text2:before {
                display: inline-block
            }

            .app-btn-box a {
                width: 46%;
                height: 32px;
                line-height: 32px;
                border-radius: 5px;
                font-size: 13px;
                text-align: center
            }

            .app-btn01 {
                background-color: #2d8de9;
                color: #fff
            }

            .app-btn02,.app-pop {
                background-color: #fff
            }

            .app-btn02 {
                color: #099fde
            }

            .app-btn-box a:first-child {
                margin-right: 10px
            }

            .app-btn-box a:only-child {
                width: 100%;
                margin-right: 0
            }

            .app-btn-box a.app-btn01:only-child {
                font-size: 18px
            }

            .app-btn-box .icon-btn {
                text-align: center;
                font-size: 13px
            }

            .app-btn-box .icon-btn:before {
                display: inline-block;
                width: 14px;
                height: 13px;
                vertical-align: -2px
            }

            .app-btn-box .app-btn01.icon-btn:before {
                margin-right: 2px;
                background-position: 0 -35px
            }

            .app-btn-box .app-btn02.icon-btn:before {
                margin-right: 5px;
                background-position: -18px -36px
            }

            .app-close+.app-btn-box a {
                width: 48%
            }

            .app-text2 {
                text-align: center;
                text-indent: 0
            }

            .app-text2:before {
                position: static;
                margin-left: -15%;
                vertical-align: middle
            }

            .app-pop {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1000;
                width: 280px;
                border-radius: 3px;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%)
            }

            .app-pop-box {
                margin: 0 15px
            }

            .app-pop-btn .app-pop-btn01:only-child,.app-pop-img {
                margin-bottom: 15px
            }

            .app-pop-close {
                position: absolute;
                top: 0;
                right: 0;
                width: 44px;
                height: 44px
            }

            .app-pop-close:after,.app-pop-close:before {
                position: absolute;
                top: 21px;
                left: 11px;
                width: 20px;
                height: 2px;
                background: #999;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg)
            }

            .app-pop-close:after {
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg)
            }

            .app-pop-bd {
                padding-top: 45px
            }

            .app-pop-img {
                width: 100%;
                height: 125px;
                overflow: hidden
            }

            .app-pop-img img {
                width: 100%;
                height: 100%
            }

            .app-pop-btn01 {
                width: 100%;
                height: 44px;
                background-color: #ff9a14;
                border: 0;
                border-radius: 3px;
                font-size: 18px;
                color: #fff;
                text-align: center
            }

            .app-pop-btn02 {
                width: 100%;
                height: 50px;
                background-color: #fff;
                border: 0;
                border-radius: 3px;
                color: #099fde;
                font-size: 14px
            }

            .app-pop-btn02 i {
                margin-right: 5px;
                width: 20px;
                height: 20px;
                border: 1px solid #099fde;
                border-radius: 50%;
                background-position: -14px -33px;
                vertical-align: -6px
            }

            .system_notice {
                position: relative;
                height: 27px;
                overflow: hidden;
                padding: 0 43px 0 30px;
                font-size: 12px;
                line-height: 26px;
                color: #FF7D13;
                background-color: #FFF8BD
            }

            .system_notice:before {
                position: absolute;
                top: 6px;
                left: 10px;
                width: 14px;
                height: 14px;
                overflow: hidden;
                line-height: 20em;
                background: url(//pic.c-ctrip.com/h5/home/icon_notice.png) no-repeat;
                background-size: 14px
            }

            .system_notice p.more {
                width: 100%;
                overflow: hidden;
                white-space: nowrap
            }

            .system_notice p:after {
                position: absolute;
                top: 10px;
                right: 32px;
                width: 7px;
                height: 7px;
                border-color: #FF7D13;
                border-style: solid;
                border-width: 0 0 1px 1px;
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg)
            }

            .system_notice .icon_close {
                position: absolute;
                top: 6px;
                right: 10px;
                width: 15px;
                height: 15px;
                overflow: hidden;
                background: rgba(0,0,0,.3);
                border-radius: 50%
            }

            .system_notice .icon_close:after,.system_notice .icon_close:before {
                position: absolute;
                top: 3px;
                left: 7px;
                width: 1px;
                height: 8px;
                overflow: hidden;
                content: "";
                background-color: #FFF8BD;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg)
            }

            .system_notice .icon_close:after {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg)
            }

            .mask-layer {
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 3001;
                background: rgba(0,0,0,.5)
            }

            .cm-modal {
                position: fixed;
                top: 50%;
                left: 50%;
                overflow: hidden;
                width: 280px;
                margin-left: -140px;
                padding-top: 0;
                border: 1px solid #DBDBDB;
                background-color: #FFF;
                border-radius: 4px;
                z-index: 985
            }

            .cui-alert-conbox,.noimg,.noimg img {
                position: relative
            }

            .cm-modal.cm-modal--alert {
                top: 160px;
                z-index: 3002
            }

            .cm-modal .cm-modal-bd {
                position: relative;
                overflow-y: auto;
                overflow-scrolling: touch;
                padding: 20px 10px;
                text-align: center
            }

            .connect a,.versions a {
                padding: 0 18px
            }

            .cm-actions {
                display: table;
                table-layout: fixed;
                width: 100%
            }

            .cm-actions .cm-actions-btn {
                display: table-cell;
                color: #099FDE;
                height: 44px;
                line-height: 44px;
                text-align: center;
                border-top: 1px solid #DBDBDB;
                border-left: 1px solid rgba(0,0,0,.1);
                cursor: pointer;
                box-sizing: border-box
            }

            .cm-actions .cm-actions-btn:active {
                background: #E6E6E6
            }

            .cm-actions .cm-actions-btn:first-child {
                border-left: 0 none
            }

            a.phone {
                color: #0E68D5
            }

            .versions a {
                height: 12px;
                line-height: 12px;
                border-right: 1px solid #000
            }

            .connect a:last-child,.versions a:last-child {
                border-right: none
            }

            .cui-alert-title {
                text-align: center;
                height: 3em;
                line-height: 3em;
                background: #1491c5;
                color: #fff
            }

            .cui-alert-content {
                margin: 0 20px;
                padding: 25px 0;
                font-weight: 700;
                line-height: 150%;
                text-align: left
            }

            .cui-alert-button-box {
                text-align: center;
                padding-bottom: 15px
            }

            .cui-alert-button {
                height: 44px;
                line-height: 44px;
                border: 0;
                background: #31A9E9;
                width: 40%;
                color: #fff;
                font-weight: 700;
                font-size: 18px;
                margin: 0 .5em;
                display: inline-block
            }

            #J-Touch img,.index_bnr {
                width: 100%
            }

            .cui-alert-button-small,.msgbox-ui h1 {
                font-size: 16px
            }

            .cui-alert-button:hover {
                background: #005C9C
            }

            .ctrip-confirm {
                background: #1491c5
            }

            .cui-alert-tbg {
                background: #000;
                opacity: .5;
                border-radius: 4px;
                display: none
            }

            #J-Touch a,#J-Touch img,.c_pop_showing,.index_bnr,.msgbox-ui,.msgbox-ui h1,.noimg,.noimg i,.noimg img {
                display: block
            }

            .cui-alert-conbox {
                margin: 10px;
                background: #fff;
                overflow: hidden
            }

            .goto_top {
                margin-top: 0!important
            }

            .computer {
                margin-left: -4px
            }

            .noimg img {
                z-index: 3
            }

            .noimg i {
                position: absolute;
                z-index: 1;
                top: 15px;
                left: 50%;
                margin-left: -85px;
                margin-top: -10px
            }

            .noimg1 i {
                margin-left: -100px;
                margin-top: 0
            }

            #J-Touch {
                overflow: hidden
            }

            .left {
                float: left
            }

            .imgFlashIco {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 9;
                width: 100%;
                height: 4px;
                overflow: hidden
            }

            .msgbox-ui {
                z-index: 9999999;
                position: fixed!important;
                top: 50%;
                left: 50%;
                box-shadow: 0 1px 1px -1px #fff;
                border: 0;
                border-radius: .6em;
                background-color: #222;
                padding: 15px;
                width: 210px;
                opacity: .88;
                height: auto;
                margin-left: -120px;
                margin-top: -43px
            }

            .msgbox-ui h1 {
                text-align: center;
                color: #fff
            }

            .c_pop_hidding {
                -webkit-animation: hidding .8s linear forwards;
                animation: hidding .8s linear forwards;
                display: block
            }

            .c_pop_showing {
                -webkit-animation: showing .8s linear forwards;
                animation: showing .8s linear forwards
            }

            @-webkit-keyframes showing {
                0% {
                    opacity: 0
                }

                100% {
                    opacity: 1
                }
            }

            @keyframes showing {
                0% {
                    opacity: 0
                }

                100% {
                    opacity: 1
                }
            }

            #can-fan-explain,#return-can-fan-explain,.apply-fanxian,.novip {
                display: none
            }

            body,html {
                height: 100%
            }

            .connect a.phone:active,.connect a.phone:hover,.connect a.phone:visited,.connect a:active,.connect a:hover,.connect a:visited,.versions a:active,.versions a:hover,.versions a:visited {
                color: #000
            }

            .subNav-entry {
                padding: 0 4px;
                font-size: 14px;
                margin-bottom: 8px
            }

            .subNav-entry .col a {
                position: relative;
                display: block;
                height: 26px;
                margin-right: 1px;
                padding-top: 34px;
                background: #fff;
                text-align: center;
                font-size: .85em
            }

            .subNav-entry .col a .tag-right {
                position: absolute;
                z-index: 10;
                right: -1px;
                bottom: 0;
                height: 59px;
                line-height: 0
            }

            .subNav-entry .col a .tag-right img {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 100%;
                overflow: hidden
            }

            @media screen and (max-width: 320px) {
                .subNav-entry .col a .tag-right img {
                    height:80%
                }
            }

            @media screen and (min-width: 321px) and (max-width:375px) {
                .subNav-entry .col a .tag-right img {
                    height:90%
                }
            }

            .subNav-entry .col {
                margin-bottom: 1px
            }

            .subNav-entry .row:last-of-type .col {
                margin-bottom: 0
            }

            .subNav-entry .row .col:last-of-type a {
                margin-right: 0
            }

            .subNav-entry .row:first-of-type .col:first-of-type a {
                border-top-left-radius: 5px
            }

            .subNav-entry .row:first-of-type .col:last-of-type a {
                border-top-right-radius: 5px
            }

            .subNav-entry .row:last-of-type .col:first-of-type a {
                border-bottom-left-radius: 5px
            }

            .subNav-entry .row:last-of-type .col:last-of-type a {
                border-bottom-right-radius: 5px
            }

            .subNav-entry .row a>.icon {
                position: absolute;
                top: 11px;
                left: 50%;
                display: inline-block;
                width: 20px;
                height: 20px;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%)
            }

            .subNav-entry .row a>.icon img {
                width: 20px
            }

            .sales-box {
                margin-bottom: 8px;
                background: #fff;
                border: 1px solid #dbdbdb;
                border-width: 1px 0
            }

            .seckill-item,.themeEntry-item .row:nth-of-type(1) .sales-list:first-of-type {
                margin-bottom: 4px
            }

            .sales-box .sales-hd {
                padding: 0 8px;
                background: #fff;
                height: 44px;
                line-height: 44px;
                overflow: hidden
            }

            .sales-box .sales-hd .title {
                padding-top: 44px;
                height: 0;
                overflow: hidden
            }

            .sales-box .sales-hd .title:after {
                content: '';
                display: inline-block;
                position: absolute;
                left: 8px;
                top: 50%;
                width: 79px;
                height: 15px;
                background: url(//pic.c-ctrip.com/h5/home/un_home_text.png) no-repeat;
                background-size: 79px auto;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%)
            }

            .flag-hot,.sales-countdown {
                z-index: 10;
                left: 0;
                color: #fff;
                font-size: 12px
            }

            .sales-box .sales-hd .title-tmh:after {
                background-position: 0 0;
                height: 14px
            }

            .sales-box .sales-hd .title-huodong:after {
                background-position: 0 -19px
            }

            .sales-hd {
                position: relative
            }

            .sales-hd .button-gradient {
                position: absolute;
                right: 8px;
                top: 11px;
                display: inline-block;
                padding: 0 18px 0 12px;
                height: 20px;
                line-height: 20px;
                color: #fff;
                border-radius: 10px;
                font-size: 12px
            }

            .sales-hd .button-gradient:after {
                content: '';
                position: absolute;
                top: 6px;
                right: 9px;
                width: 7px;
                height: 7px;
                border: 2px solid #fff;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg)
            }

            .sales-huodong .sales-hd .button-gradient,.sales-tmh .sales-hd .button-gradient {
                background: -webkit-linear-gradient(left,#ff4e63,#ff6cc9);
                background: linear-gradient(to right,#ff4e63,#ff6cc9)
            }

            .sales-item {
                position: relative
            }

            .sales-bd {
                padding: 0 8px 8px
            }

            .seckill-item {
                margin-right: 2px;
                background: #f9f9f9;
                min-height: 175px
            }

            .flag-hot {
                position: absolute;
                line-height: 20px;
                padding: 0 6px 0 8px;
                top: 0;
                background-color: #fd3a51;
                text-align: center
            }

            .flag-hot:after {
                position: absolute;
                content: '';
                top: 0;
                right: -8px;
                border-width: 20px 8px;
                border-style: solid;
                border-color: #fd3a51 transparent transparent
            }

            .sales-countdown {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0 5px;
                height: 25px;
                line-height: 25px;
                background: rgba(0,0,0,.6);
                white-space: nowrap;
                text-align: right
            }

            .sales-countdown .left-corner,.sales-countdown .right-corner:before {
                left: -6px
            }

            .sales-countdown .left-corner:before,.sales-countdown .right-corner {
                right: -6px
            }

            .sales-text {
                float: left;
                padding-right: 5px
            }

            .sales-countdown span.time {
                display: inline-block;
                height: 16px;
                line-height: 16px;
                border: 1px solid rgba(255,255,255,.5)
            }

            .sales-countdown span.sep {
                padding: 0 2px
            }

            .sales-countdown .left-corner,.sales-countdown .right-corner {
                position: absolute;
                width: 6px;
                height: 6px;
                overflow: hidden;
                top: 0
            }

            .sales-countdown .left-corner:before,.sales-countdown .right-corner:before {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                border: 6px solid #fff;
                border-radius: 50%;
                top: -6px
            }

            .sales-img {
                position: relative;
                overflow: hidden
            }

            .sales-img img {
                width: 100%;
                min-height: 117px;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%)
            }

            @media (max-width: 320px) {
                .sales-img {
                    height:100px
                }
            }

            @media (min-width: 321px) and (max-width:375px) {
                .sales-img {
                    height:117px
                }
            }

            @media (min-width: 376px) {
                .sales-img {
                    height:117px
                }
            }

            .sales-info {
                padding: 0 8px;
                right: 4px;
                color: #333;
                height: 22px;
                overflow: hidden
            }

            .sales-title {
                height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                padding: 8px
            }

            .tag-sales {
                display: inline-block;
                padding: 1px 6px;
                background: #fd3a51;
                color: #fff;
                border-radius: 8px;
                font-size: 12px;
                line-height: 1;
                vertical-align: 1px
            }

            .sales-price {
                color: #ff495e;
                font-size: 18px;
                line-height: 1;
                font-weight: 400
            }

            .sales-info dfn {
                font: 12px/1.5 arial;
                vertical-align: baseline
            }

            .sales-price i {
                vertical-align: baseline;
                font-style: normal;
                font-size: 15px
            }

            .sales-list {
                overflow: hidden
            }

            .sales-list li {
                position: relative;
                float: left;
                width: 50%;
                font-size: 0
            }

            .sales-list li:first-of-type {
                padding-right: 2px
            }

            .sales-list li:last-of-type {
                padding-left: 2px
            }

            .sales-list li img {
                width: 100%
            }

            .themeEntry-item {
                margin-left: 2px;
                overflow: hidden
            }

            .themeEntry-item .sales-list {
                position: relative;
                width: 100%;
                background: #f9f9f9
            }

            .themeEntry-item .sales-list .sales-item-title {
                margin: 0;
                padding: 8px;
                text-align: left;
                color: #444;
                font-size: 12px
            }

            .themeEntry-item .row:nth-of-type(2) .sales-list .sales-item-title {
                text-align: center
            }

            .themeEntry-item .sales-list .sales-item-title dt {
                font-weight: 700;
                font-size: 14px;
                letter-spacing: .06em
            }

            .themeEntry-item .sales-list .sales-item-title dd {
                margin: 0;
                pading: 0
            }

            .themeEntry-item .row:nth-of-type(1) .sales-list .sales-item-title dt {
                color: #fd3a51
            }

            .themeEntry-item .row:nth-of-type(2) .col:first-of-type .sales-list {
                margin-right: 4px
            }

            .themeEntry-item .row:nth-of-type(2) .col:last-of-type .sales-list {
                margin-left: 4px
            }

            .themeEntry-item .row:nth-of-type(2) .col:first-of-type .sales-list .highlight,.themeEntry-item .row:nth-of-type(2) .col:first-of-type .sales-list dt {
                color: #6aabff
            }

            .themeEntry-item .row:nth-of-type(2) .col:last-of-type .sales-list .highlight,.themeEntry-item .row:nth-of-type(2) .col:last-of-type .sales-list dt {
                color: #53ca72
            }

            .themeEntry-item img {
                position: absolute;
                bottom: 0;
                right: 4px
            }

            .themeEntry-item .row:nth-of-type(2) img {
                left: 50%;
                bottom: 8px;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%)
            }

            @media (max-width: 320px) {
                .sales-tmh {
                    height:231px
                }

                .sales-tmh .sales-bd {
                    height: 179px
                }

                .sales-huodong .loadImg-layer-box {
                    height: 242px
                }

                .sales-title {
                    padding: 4px;
                    height: 40px
                }

                .seckill-item {
                    height: 175px
                }

                .themeEntry-item dd,.themeEntry-item dt {
                    white-space: nowrap
                }

                .themeEntry-item .sales-list:first-of-type {
                    height: 75px
                }

                .themeEntry-item .row:nth-of-type(2) .sales-list {
                    height: 96px
                }
            }

            @media (min-width: 321px) and (max-width:375px) {
                .sales-tmh {
                    height:261px
                }

                .sales-tmh .sales-bd {
                    height: 209px
                }

                .sales-huodong .loadImg-layer-box {
                    height: 282px
                }

                .seckill-item {
                    height: 205px
                }

                .themeEntry-item .sales-list:first-of-type {
                    height: 88px
                }

                .themeEntry-item .row:nth-of-type(2) .sales-list {
                    height: 112px
                }
            }

            @media (min-width: 376px) {
                .sales-tmh {
                    height:261px
                }

                .sales-tmh .sales-bd {
                    min-height: 209px
                }

                .sales-huodong .loadImg-layer-box {
                    min-height: 282px
                }

                .seckill-item {
                    height: 205px
                }

                .themeEntry-item .sales-list:first-of-type {
                    height: 88px
                }

                .themeEntry-item .row:nth-of-type(2) .sales-list {
                    height: 112px
                }
            }

            .sales-huodong {
                border-width: 1px 0 0
            }

            .sales-activity,.sales-huodong .sales-hd {
                border-bottom: 1px solid #dbdbdb
            }

            .sales-huodong .sales-bd {
                padding: 0
            }

            .sales-activity .col {
                overflow: hidden;
                max-width: 269px;
                max-height: 135px;
                min-width: 159px;
                min-height: 80px
            }

            .sales-activity:nth-of-type(1) .col:nth-of-type(1) {
                max-height: 269px;
                min-height: 159px
            }

            .sales-activity:nth-of-type(1) .col:nth-of-type(2) {
                min-height: 160px;
                max-height: 270px
            }

            .sales-activity .col img {
                width: 100%;
                margin: 0;
                padding: 0;
                display: block
            }

            .sales-activity .col-50 {
                width: 50%;
                min-width: initial;
                max-width: initial
            }

            .sales-activity p {
                border-right: 1px solid #fff
            }

            .sales-activity .col:nth-of-type(1)>p {
                border-color: #dbdbdb
            }

            .sales-activity:nth-of-type(1) .col:nth-of-type(2) p:nth-of-type(1) {
                border-bottom: 1px solid #dbdbdb;
                margin-top: -1px
            }

            @media (-webkit-min-device-pixel-ratio: 2) {
                .sales-activity,.sales-activity p,.sales-activity:nth-of-type(1) .col:nth-of-type(2) p:nth-of-type(1),.sales-box.sales-huodong,.sales-box.sales-tmh,.sales-huodong .loadImg-layer-box,.sales-huodong .sales-hd,.tool-box,.tool-cn {
                    border:none;
                    background-size: 100% 1px;
                    background-repeat: no-repeat
                }

                .sales-box.sales-tmh {
                    padding-top: 1px;
                    padding-bottom: 1px;
                    background-position: left top,left bottom;
                    background-image: -webkit-linear-gradient(bottom,transparent 50%,#dbdbdb 50%),-webkit-linear-gradient(top,transparent 50%,#dbdbdb 50%);
                    background-image: linear-gradient(to top,transparent 50%,#dbdbdb 50%),linear-gradient(to bottom,transparent 50%,#dbdbdb 50%)
                }

                .sales-box.sales-huodong,.tool-box {
                    padding-top: 1px;
                    background-position: left top;
                    background-image: -webkit-linear-gradient(bottom,transparent 50%,#dbdbdb 50%);
                    background-image: linear-gradient(to top,transparent 50%,#dbdbdb 50%)
                }

                .sales-activity .col:nth-of-type(1)>p,.sales-activity p {
                    background-size: 1px 100%;
                    padding-right: 1px;
                    background-position: right top
                }

                .sales-activity p {
                    background-image: -webkit-linear-gradient(left,transparent 50%,#fff 50%);
                    background-image: linear-gradient(to right,transparent 50%,#fff 50%)
                }

                .sales-activity .col:nth-of-type(1)>p {
                    background-image: -webkit-linear-gradient(left,transparent 50%,#dbdbdb 50%);
                    background-image: linear-gradient(to right,transparent 50%,#dbdbdb 50%)
                }

                .sales-activity,.sales-activity:nth-of-type(1) .col:nth-of-type(2) p:nth-of-type(1),.sales-huodong .loadImg-layer-box,.sales-huodong .sales-hd,.tool-cn {
                    padding-bottom: 1px;
                    background-position: left bottom;
                    background-image: -webkit-linear-gradient(top,transparent 50%,#dbdbdb 50%);
                    background-image: linear-gradient(to bottom,transparent 50%,#dbdbdb 50%)
                }
            }

            .loadImg-layer-box {
                position: relative;
                width: 100%;
                height: auto;
                background: url(//pic.c-ctrip.com/platform/h5/home/dophin@2x.png) center bottom no-repeat #e9e9e9;
                background-size: 100% auto;
                -webkit-box-orient: horizontal;
                -webkit-box-pack: center;
                -webkit-box-align: center;
                display: -ms-flexbox;
                display: flex;
                box-orient: horizontal;
                box-pack: center;
                box-align: center
            }

            .icon-gg,.loadImg-layer-box .i-loading-imgVal {
                position: absolute;
                top: 50%;
                display: inline-block
            }

            .loadImg-layer-box .i-loading-imgVal {
                left: 50%;
                -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                width: 19px;
                height: 20px;
                background: url(//pic.c-ctrip.com/platform/h5/home/un_icon_loading@2x.png) 0 -33px no-repeat;
                background-size: 19px auto;
                -webkit-animation: loading 1s linear 0s infinite;
                animation: loading 1s linear 0s infinite
            }

            @-webkit-keyframes loading {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0)
                }

                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg)
                }
            }

            @keyframes loading {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0)
                }

                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg)
                }
            }

            .sales-huodong .loadImg-layer-box {
                border-bottom: 1px solid #dbdbdb
            }

            .sales-box.show-animation {
                height: 0;
                margin: 0;
                padding: 0;
                border: 0;
                overflow: hidden;
                -webkit-transition: all 1s ease 1s;
                transition: all 1s ease 1s
            }

            .icon-gg {
                left: 90px;
                background: url(//pic.c-ctrip.com/platform/h5/home/icon-gg@2x.png) no-repeat;
                background-size: 36px auto;
                width: 36px;
                height: 15px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%)
            }
}
